/*FONTS*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Righteous:400,400i,700");

/* Global VARs */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --nav-bg: #16161a;
  --nav-logo: #fff;
  --nav-link: #9e9e9e;
  --nav-link-hover: #fff;
  --nav-border: #010101;
  --nav-btn: #7f5af0;
}

body {
  background-color: #16161a;
}

/* NAVBAR (base)*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat, sans-serif;
  background-color: var(--nav-bg);
  padding: 20px 30px;
  color: var(--nav-color);
  border-bottom: var(--nav-border) solid 3px;
  font-weight: bold;
  font-size: 1.1em;
}

.nav-logo {
  /*font-family: Righteous, sans-serif;*/
  font-size: 1.2em;
  color: var(--nav-logo);
  text-decoration: none;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  margin-left: 1em;
}

.nav-list a {
  color: var(--nav-link);
  text-decoration: none;
  transition: color 0.5s ease;
}

.nav-list a:hover {
  color: var(--nav-link-hover);
}

/* NAVBAR (Contact button) */
.nav-btn {
  background-color: var(--nav-btn);
  border: solid 3px transparent;
  color: #fff;
  cursor: pointer;
  width: 200px;
  height: 55px;
  text-align: center;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 1px 1000px 1px #16161a inset;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  font-weight: bold;
  font-size: 1em;
}

img {
  width: 6%;
}

.nav-btn:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

/* HOME (main) */
/* Create two equal columns that floats next to each other */
.column {
  font-family: Montserrat, sans-serif;
  font-size: 2em;
  color: #fff;
  float: left;
  width: 50%;
  padding: 5% 0px 0px 9%;
  /*margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;*/
}

.column p {
  color: #94a1b2;
}

.column img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
}

/* HOME (Contact button) */
.main-btn {
  margin: 5% 0 0 30%;
  background-color: var(--nav-btn);
  border: solid 3px transparent;
  color: #fff;
  cursor: pointer;
  padding: 0rem .5rem;
  width: 200px;
  height: 55px;
  text-align: center;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 1px 1000px 1px #16161a inset;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  font-weight: bold;
  font-size: 0.6em;
}

.main-btn:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

/* HOME (responsive) */
@media screen and (max-width: 1200px) {
  .column {
    font-size: 1.3em;
    text-align: center;
    padding: 5% 0px 0px 0px;
    width: 100%;
  }

  .nav-btn {
    display: none;
  }

  .main-btn {
    margin: 5% 0 0 0;
  }
}

/* FORM */

#cv-form {
  text-align: center;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #16161a;
  padding: 1.2rem;
}


.card-body-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.2rem 9rem;
  color: rgb(255, 255, 255);
  border-radius: 0.8rem;
  background-color: #242629;
  font-size: 0.7em;
}

.form-group {
  margin-bottom: 1em;
}

.form-group .area {
  display: block;
}


.form-group input {
  display: inline-block;
  padding: 1em;
  color:#010101;
  border: 2px solid hsla(246, 25%, 77%, 0.25);
  border-radius: 0.5em;
  font-weight: 600;
}

.form-group input:focus {
  outline: none;
  border: 2px solid #7f5af0;
}

.form-group textarea {
  padding: 1em;
  color:#010101;
  border: 2px solid hsla(246, 25%, 77%, 0.25);
  border-radius: 0.5em;
  font-weight: 600;
}

.form-group textarea:focus {
  outline: none;
  border: 2px solid #7f5af0;
}
#cv-box {
  background-color: #16161a;
  width: 100%;
  height: 100%;
}
#cv-template {
  display: none;
  width: 40%;
  height: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #FFF;
  color: #FFF;
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.myimg {
  width: 200px;
}

.background {
  background-image: linear-gradient(to right, #667eea, #764ba2);
  background-size: 300% 100%;
}

li {
  text-align: left;
  color:#010101
}

.btn {
  background-color: #7f5af0;
}


/* PRINT */

@media print {
  nav {
     visibility: hidden;
  }

  #cv-template {
    width: 95vw;
  }

  button {
    visibility: hidden;
  }

  footer {
    visibility: hidden;
 }

}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 21px;
}

::-webkit-scrollbar-track {
  background-color: #16161a;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}